body{
    font-family: "Roboto", sans-serif;
    background:url("../images/bckgrnd-items.jpg") no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay; 
    color: #29282c;
}


section{
    display: none;
    justify-content: center;
    margin-top: 0.5em;
    padding: 1em;
}

section.open{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border :2px solid #5d5c5c30;
    border-radius: 5px;    
    padding: 3em;
    background-color: rgba(255, 255, 255, 0.95);
}

form>.button{    
    background-color: #F53838;
    width: 16em;
    padding: 1.5em;
    font-weight: bolder;
    box-shadow: 0 30px 34px -20px rgba(245, 56, 56, 0.35);   
    align-self: center;
}

li{
    list-style-type:none;
}

.button{
    margin: auto;
    border-radius: 10px;
    border: 0;
    color: #fff;
    margin: 0;
    padding: 0.5em 1em;
    cursor: pointer;
}
.button:hover{
    transition: 0.3s;
    transform: translateY(-3%);
}
.button:active{
    transition: 0.2s;
    transform: scale(1.05);
}

.horizontal_container{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.items-section{
    justify-content: start;
}

.form__label{
    font-size: larger;
    font-weight: bolder;
}
.form__input{
    margin-top: 0.25em;
    margin-bottom: 1em;
}
.form-group{
    margin: 1em;
    display: flex;
    flex-direction: column;
}
