.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #00000092;
    box-shadow: 0 5px 2em rgba(255, 27, 27, 0.25);  
    border-bottom: 1px solid whitesmoke;
    padding: 8px 2em;
}

.header__nav{
    display: flex;
    align-content: center;
    justify-content: center;    
}

.header__nav>ul{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
}

.header__nav>ul>li>a{
    color: white;
    font-size: larger;
    padding: 0.5em;
}
.header__nav>ul>li>a:active{
    transition: 0.25s;
    background-color: darkgray;
    color: rgb(255, 255, 255);
}


.search-container{
    display: flex;
    align-items: center;
}
.search-container>*{
    margin-right: 0.75em;
}

.find__button--search{
    color: red;
    background: transparent;
    border :1px solid red;
}
.find__button--search:hover{
    transform: none;
    color: white;
    background-color: red;
}

.find__button--clear{
    color: skyblue;
    background: transparent;
    border :1px solid skyblue;
}
.find__button--clear:hover{
    transform: none;
    color: white;
    background-color: skyblue;
}

.button-switch{
    border: 1px solid #0000006b;
    border-radius: 0;
    color: black;
}